---
import '../styles/global.css';
import meImg from '../images/fassion_is_my_pashion.JPG';

import BaseLayout from '../layouts/BaseLayout.astro';
import ImageResizer from '../components/ImageResizer.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Izzy",
  country: "USA",
  occupation: "Software Engineer",
  hobbies: ["sewing", "drawing", "lifting"],
};

const skills = ["Python", "HTML", "CSS", "React", "Astro"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
        <style is:global define:vars={{skillColor, fontWeight, textCase}}>
            h1 {
              color: purple;
              font-size: 4rem;
            }
            .skill {
                color: var(--skillColor);
                font-weight: var(--fontWeight);
                text-transform: var(--textCase);
            }
            .container {
                display: grid;
                grid-template-columns: auto auto auto;
            }
          </style>
	</head>
	<body>
        <BaseLayout pageTitle={pageTitle}>
            <div class="container">
            <div>
                <ImageResizer src={meImg}, alt="A photo of me"/>
            </div>
            <div>
            <p>Here are a few facts about me:</p>
            <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
            {identity.hobbies.length >= 2 &&
                <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
            }
            </ul>
            <p>My skills are:</p>
            <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
            </ul>

            {happy && <p>I am happy to be learning Astro!</p>}

            {finished && <p>I finished this tutorial!</p>}

            <script>
                import "../scripts/menu.js";
            </script>
            </div>
            </div>
        </BaseLayout>
    </body>
</html>