---
import { Image } from "astro:assets";

const {
  src,
  alt,
  aspectRatio = 16 / 9,
  format = 'webp',
  loading = 'lazy',
  className = '',
} = Astro.props;

// This width just tells Astro how to generate the images; it doesn't control display size
const baseWidth = 1920;
const baseHeight = Math.round(baseWidth / aspectRatio);
---

<style>
  .responsive-image-wrapper {
    width: 100%;
    aspect-ratio: var(--aspect-ratio);
    position: relative;
    overflow: hidden;
  }

  .responsive-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
  }
</style>

<div
  class={`responsive-image-wrapper ${className}`}
  style={`--aspect-ratio: ${aspectRatio};  border: 2px dashed red; background-color: rgba(255, 0, 0, 0.1);`}
>
  <Image
    src={src}
    alt={alt}
    width={baseWidth}
    height={baseHeight}
    format={format}
    sizes="100vw"
    loading={loading}
  />
</div>
